/*-- scss:defaults --*/

// $body-bg: #191919;
// $body-color: #fff;
// $link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide-logo {
	max-height: 2em !important;
}

.reveal ul ul {
	list-style-type: disc;
}

.myclass img {
    box-shadow: 5px 5px 5px;
    max-height: 40vh;
    filter: grayscale(.5);
    margin-top: 1em;
}

.reveal iframe {
    display:block;
    margin: auto;
    box-shadow: 3px 3px 5px #51483d;
}